POSTGRES_USER=postgres-dev
POSTGRES_PASSWORD=postgres-dev
POSTGRES_DB=sif-dev
POSTGRES_HOST=postgres-dev
POSTGRES_PORT=5432
RABBITMQ_AMQP_HOST=rabbitmq-dev
RABBITMQ_AMQP_PORT=5672
JWT_SECRET=s3cr3t!

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_HOST=minio-dev
MINIO_ADMIN_HOST=localhost
MINIO_PORT=9000
MINIO_BUCKET=sif-dev

LOCATIONIQ_API_KEY=pk.bab2e19610caf6e3bd142149ba50d7a9
MAP_IMAGE_PROVIDER=mapbox #locationiq
MAP_IMAGE_STYLE=satellite #streets
MAP_IMAGE_ZOOM=15
MAPBOX_ACCESS_TOKEN=pedir para everton
GOOGLE_MAPS_API_KEY=

NODE_ENV=development

AI_REPORT_SERVICE_URL=http://ai-report-service:8001
