POSTGRES_USER=postgres-dev
POSTGRES_PASSWORD=postgres-dev
POSTGRES_DB=sif-dev
POSTGRES_HOST=postgres-dev
POSTGRES_PORT=5432
RABBITMQ_AMQP_HOST=rabbitmq-dev
RABBITMQ_AMQP_PORT=5672
JWT_SECRET=s3cr3t!

RABBITMQ_USER=admin
RABBITMQ_PASS=admin

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

NODE_ENV=development